{% extends "base.html" %}

{% block title %}{{ product.name }}{% endblock title %}

{% block css %}
<link rel="stylesheet" href={{ url_for("static", filename="styles.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="reviews.css") }}>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
    <h1>{{ product.name }}</h1>
    <p>Price: {{ "${:,.2f}".format(product.price) }}</p>
    <p>Quantity: {{ product.quantity }}</p>
    <p>Description: {{ product.description }}</p>
    <a href="/products">List Products</a>
    <a href="{{ url_for('update_product_form', pid=product.id) }}">Update</a>
    <a href="{{ url_for('delete_product', pid=product.id) }}">Delete</a>
    <br></br><br></br>
    <div><h2>Reviews for {{ product.name }}</h2></div>
    {% set average = namespace(value=0) %}
    {% set total = namespace(value=0) %}
    {% set star_1 = namespace(value=0) %}
    {% set star_2 = namespace(value=0) %}
    {% set star_3 = namespace(value=0) %}
    {% set star_4 = namespace(value=0) %}
    {% set star_5 = namespace(value=0) %}

    {% for review in reviews%}
        {% set total.value = total.value + review.stars %}
        {% if review.stars == 5 %}
        {% set star_5.value = star_5.value + 1 %}
        {% endif %}
        {% if review.stars == 4 %}
        {% set star_4.value = star_4.value + 1 %}
        {% endif %}
        {% if review.stars == 3 %}
        {% set star_3.value = star_3.value + 1 %}
        {% endif %}
        {% if review.stars == 2 %}
        {% set star_2.value = star_2.value + 1 %}
        {% endif %}
        {% if review.stars == 1 %}
        {% set star_1.value = star_1.value + 1 %}
        {% endif %}
    {% endfor %}
    {% set average.value = total.value / reviews.__len__() %}

    {% for count in range(average.value|int) %}
    <span class="fa fa-star checked" style="color: orange;"></span>
    {% endfor %}
    {% for count in range((5-average.value|int)|int) %}
    <span class="far fa-star" style="color: orange;"></span>
    {% endfor %}

    {% set bar_5 = namespace(value=0) %}
    {% set bar_5 = star_5.value/reviews.__len__() * 100 %}
    {% set bar_5 = bar_5|int %}
    {% set bar_4 = namespace(value=0) %}
    {% set bar_4 = star_4.value/reviews.__len__() * 100 %}
    {% set bar_4 = bar_4|int %}
    {% set bar_3 = namespace(value=0) %}
    {% set bar_3 = star_3.value/reviews.__len__() * 100 %}
    {% set bar_3 = bar_3|int %}
    {% set bar_2 = namespace(value=0) %}
    {% set bar_2 = star_2.value/reviews.__len__() * 100 %}
    {% set bar_2 = bar_2|int %}
    {% set bar_1 = namespace(value=0) %}
    {% set bar_1 = star_1.value/reviews.__len__() * 100 %}
    {% set bar_1 = bar_1|int %}

    <div class="row" style="width: 450px;">
        <div class="side">
          <div>5 star</div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-5" style="width: {{ bar_5 }}%;"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{ star_5.value }}</div>
        </div>
        <div class="side">
          <div>4 star</div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-4" style="width: {{ bar_4 }}%;"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{ star_4.value}}</div>
        </div>
        <div class="side">
          <div>3 star</div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-3" style="width: {{ bar_3 }}%;"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{ star_3.value }}</div>
        </div>
        <div class="side">
          <div>2 star</div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-2" style="width: {{ bar_2 }}%;"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{ star_2.value}}</div>
        </div>
        <div class="side">
          <div>1 star</div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-1" style="width: {{ bar_1 }}%;"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{ star_1.value}}</div>
        </div>
      </div>
      <br>
<!-- .__len__() will return the number of reviews. same as len(reviews) -->
    <p>{{ "{:.2f}".format(average.value) }} average based on {{ reviews.__len__() }} reviews.</p>
    <br></br>
    {% for review in reviews %}
        <div>
            <div style="display: flex;"> 
                <span class="fas fa-user-circle fa-3x"></span>
                <p style="margin-left: 10px; font-size: 32px;">{{ review.user_name }}</p>
            </div>
            {% for count in range(review.stars) %}
                <span class="fa fa-star checked" style="color: orange;"></span>
            {% endfor %}
            {% for count in range(5-review.stars) %}
                <span class="far fa-star" style="color: orange;"></span>
            {% endfor %}
            <p style="margin: 4px 0 0 0;">{{ review.review }}</p>
            <br></br>
            <div>
    {% endfor %}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="toast show align-items-center text-white bg-danger border-0"
                role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                    <div class="d-flex">
                      <div class="toast-body">
                        {{ message }}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                {% endif %}
                {% endwith %}
                <form action="{{ url_for('create_review', pid=product.id, product_name=product.name) }}" method="POST">
                    <div class="mb-3">
                        <label class="form-label">User name:</label>
                        <input type="text" class="form-control" name="user_name_form" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Review comment:</label>
                        <input type="text" class="form-control" name="review_form" style="height: 100px;" />
                    </div>
                    <div class="mb-3">
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                    </div>
                    <br></br>
                    <input type="submit" value="Submit" class="btn btn-secondary" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
